.modal-content{
    display: flex;
    align-items: center;
    color: black;
}

.add-button{
    font-size: 18px;
    border: none;
    border-radius: 6px;
    height: 44px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #067d80;
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}