.main-page-wrapper{
    margin-top: 60px;
}

.cards-wrapper{
    margin-bottom: 60px;
}

.add-button{
    font-size: 20px;
    border: none;
    border-radius: 6px;
    height: 44px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #067d80;
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.budget-title{
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    align-items: center;
    color: white;
}

.budgets-wrapper{
    padding: 10px;
}

.search-category{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}