
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-color: #151429;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin: 2rem 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  
  input,
  select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #calculate-button {
    font-size: 14px;
    border: none;
    border-radius: 6px;
    height: 44px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #067d80;
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
  }

  #calculate-button:hover{
    background-color:#151429; 
    color: #067d80;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition: .3s ease-in-out;
}

  .result {
    margin-top: 2rem;
  }
  
  .result h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .result p {
    font-size: 1rem;
  }
  
 /* @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  
    .col {
      width: 50%;
    }
  } */
  

  #investment-card{
    background-color: white;
    border-radius: 8px;
  }
