.page{
    background-color: #151429;
    color: white;
}
.hero-section {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-background {
    background-image: url("/src/images/wallet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
}

.hero-content {
    z-index: 1;
    text-align: center;
    color: white;
}

.hero-content {
    z-index: 1;
    text-align: center;
}

.hero-header{
font-size: 80px;
}

.hero-subheader{
    text-align: center;
    margin: 20px 200px;
    font-size: 30px;
    padding-bottom: 20px;
}

#landing-page-btn{
    padding: 30px;
    font-size: 30px;
}

.sidekick-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidekick-subitems{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.sidekick-header{
    margin: 100px 0px;
    font-size: 40px;
}

.single-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 80px;
    text-align: center;
    width: 300px;
}

.features{
    font-size: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
  }
  
.carousel-image {
    width: 33%;
    height: auto;
  }
  
.stats{
    margin: 44px;
    font-size: 28px;
    line-height: 50px;
    padding: 10px 60px;
    text-align: justify;
}

#stats-conclusion{
    font-size: 22px;
    margin: 60px 10px;
    text-align: center;
}

.stats-call-to-action{
    text-align: center;
    margin-top: 80px;
}

#start-now-btn{
    font-size: 24px;
    padding: 12px;
    margin-top: 40px;
}

.homepage-logo{
    height: 100px
}

.credits{
   text-align: center;
    font-size: 16px;
    margin: 60px;
}

footer{
    display: flex;
    justify-content: flex-end;
}