/* PasswordRequirements.css */
.password-requirements {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .password-requirements ul {
    list-style: none;
    padding: 0;
  }
  
  .password-requirements li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .password-requirements li.fulfilled {
    color: #4caf50; /* Green color for fulfilled requirements */
  }
  