.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.card-body{
    width: 600px;
}

.card-body:hover{
    border: 2px solid white;
    border-radius: 8px;
}

.card-name{
    margin-right: 2px;
}

.card-amounts{
    display: flex;
    align-items: baseline;
}

.max-amount{
    font-size: 10px;
    margin: 4px;
}

.warning-message{
    padding-left: 4px;
    font-size: 14px;
}

.budget-card-body:hover {
    border: none;
}